* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #194153
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .5s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/bg.webp) center/cover no-repeat
}
.main-screen {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none
}
.main-screen * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform
}
.moon span {
  background: url(../img/moon.webp) top/100% no-repeat;
  height: auto;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  padding-bottom: 36%;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%)
}
.loaded .moon span {
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  transition: -webkit-transform 1s ease .8s;
  transition: transform 1s ease .8s;
  transition: transform 1s ease .8s,-webkit-transform 1s ease .8s
}
.building span {
  width: 110%;
  left: -5%;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .building span {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease,-webkit-transform 1s ease
}
.building_three span {
  background: url(../img/building-03.webp) bottom/auto 100% repeat-x
}
.loaded .building_three span {
  transition-delay: .6s
}
.building_two span {
  background: url(../img/building-02.webp) bottom/auto 100% repeat-x
}
.loaded .building_two span {
  transition-delay: .4s
}
.building_one span {
  background: url(../img/building-01.webp) bottom/auto 100% repeat-x
}
.loaded .building_one span {
  transition-delay: .2s
}
.train span {
  min-width: 62.5rem;
  left: 50%;
  background: url(../img/train.webp) bottom/auto 100% no-repeat;
  -webkit-transform: translate(100%,-100%);
  transform: translate(100%,-100%);
  opacity: 0
}
.loaded .train span {
  opacity: 1;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition: opacity 1.5s ease 1.5s,-webkit-transform 1.5s ease 1.5s;
  transition: transform 1.5s ease 1.5s,opacity 1.5s ease 1.5s;
  transition: transform 1.5s ease 1.5s,opacity 1.5s ease 1.5s,-webkit-transform 1.5s ease 1.5s
}
.santa span {
  -webkit-transform: translate(-100vw,0);
  transform: translate(-100vw,0)
}
.loaded .santa span {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.santa__three span {
  background: url(../img/christmas-tree.webp) center/auto 25% no-repeat;
  margin-left: -60vh;
  -webkit-transform: translate(-100vw,0) rotate(1560deg);
  transform: translate(-100vw,0) rotate(1560deg)
}
.loaded .santa__three span {
  transition: -webkit-transform 2.5s ease 1.5s;
  transition: transform 2.5s ease 1.5s;
  transition: transform 2.5s ease 1.5s,-webkit-transform 2.5s ease 1.5s
}
.santa__ball_one span {
  background: url(../img/ball-01.webp) center/auto 2.5% no-repeat;
  margin-top: -10vh;
  margin-left: -40vh
}
.loaded .santa__ball_one span {
  transition: -webkit-transform 2.4s ease 1.2s;
  transition: transform 2.4s ease 1.2s;
  transition: transform 2.4s ease 1.2s,-webkit-transform 2.4s ease 1.2s
}
.santa__candy_one span {
  background: url(../img/candy-01.webp) center/auto 4.5% no-repeat;
  margin-top: -2vh;
  margin-left: -35vh
}
.loaded .santa__candy_one span {
  transition: -webkit-transform 2.3s ease 1.15s;
  transition: transform 2.3s ease 1.15s;
  transition: transform 2.3s ease 1.15s,-webkit-transform 2.3s ease 1.15s
}
.santa__ball_two span {
  background: url(../img/ball-02.webp) center/auto 1.5% no-repeat;
  margin-top: -5vh;
  margin-left: -27vh
}
.loaded .santa__ball_two span {
  transition: -webkit-transform 2.2s ease 1.1s;
  transition: transform 2.2s ease 1.1s;
  transition: transform 2.2s ease 1.1s,-webkit-transform 2.2s ease 1.1s
}
.santa__candy_two span {
  background: url(../img/candy-02.webp) center/auto 3.5% no-repeat;
  margin-left: -23vh
}
.loaded .santa__candy_two span {
  transition: -webkit-transform 2.1s ease 1.05s;
  transition: transform 2.1s ease 1.05s;
  transition: transform 2.1s ease 1.05s,-webkit-transform 2.1s ease 1.05s
}
.santa__man span {
  background: url(../img/santa.webp) center/auto 25% no-repeat;
  margin-top: -10vh;
  margin-left: -6vh
}
.loaded .santa__man span {
  transition: -webkit-transform 2s ease 1s;
  transition: transform 2s ease 1s;
  transition: transform 2s ease 1s,-webkit-transform 2s ease 1s
}
.three span {
  background: url(../img/tree.webp) bottom/auto 100% repeat-x;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .three span {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: -webkit-transform 1s ease .1s;
  transition: transform 1s ease .1s;
  transition: transform 1s ease .1s,-webkit-transform 1s ease .1s
}
.stairs span {
  background: url(../img/stairs.webp) bottom/100% no-repeat;
  width: 110%;
  left: -5%;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .stairs span {
  -webkit-transform: translate(0,1%);
  transform: translate(0,1%);
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease,-webkit-transform 1s ease
}
.efx {
  background: url(../img/noise.webp) center repeat;
  will-change: auto
}
.efx::after,
.efx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.efx::before {
  background: linear-gradient(180deg,#194153 0,#16233b 100%);
  mix-blend-mode: overlay;
  opacity: .8
}
.efx::after {
  content: "";
  background: radial-gradient(50% 50% at 50% 50%,rgba(4,33,58,0) 0,#04213a 100%);
  opacity: .5
}
.content {
  padding-top: 300vh;
  padding-bottom: 3.125rem;
  color: #fff;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
}
.content__container {
  position: relative;
  margin: 0 auto;
  max-width: 78.75rem;
  padding: 1.875rem;
  background-color: rgba(22,35,59,.8)
}
.content__title {
  font-size: 2.125rem;
  text-transform: uppercase;
  margin-bottom: 1.875rem
}
.content__body p {
  line-height: 150%
}
.content__body p:not(:last-child) {
  margin-bottom: 1.875rem
}